<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Panda: example of PHP-based client app</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	<script src="/panda_uploader/swfobject.js"></script>
	<script src="/panda_uploader/jquery.panda-uploader.min.js"></script>
	<link href="/panda_uploader/panda-uploader.css" rel="stylesheet" type="text/css">

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>