{% extends 'panda_example_django/layout.html' %}

{% block content %}

{% if encoding %}
<h1>Your video, encoded with Panda</h1>
<div>
    <h2>Using HTML5</h2>
    <video id="movie" width="{{ encoding.width }}" height="{{ encoding.height }}" preload="none" poster="{{ encoding.screenshot_url }}" controls>
      <source src="{{ encoding.url }}" type="video/mp4">
    </video>
</div>
<p><a href="{% url panda_example_django.index %}">Try with a different video</a></p>
{% else %}
<p>Your video has not been encoded yet. Please wait a few moments and <a href="{% url panda_example_django.player panda_video_id %}">refresh this page</a>.</p>
{% endif %}
<h2>Encoding details</h2>
<pre>{{ panda_encodings_repr }}</pre>

{% endblock %}